body {
    margin: 0;
    font-family: sans-serif;
}

#banner {
    width: 100%;
    height: 650px;
    background-image: url(image/h6.jpg);
    background-position: center center;
    background-size: cover;
    font-family: sans-serif, "Poppins";
    position: relative;
}

nav {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
}

#titletext {
    font-size: 29px;
}

li {
    align-items: center;
    list-style: none;
    display: inline-block;
}

a {
    text-decoration: none;
    color: black;
    font-size: 19px;
    margin: 10px 30px;
    position: relative;
    cursor: pointer;
}

li a::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    border-radius: 10px;
    background-color: darkslategray;
    left: 0;
    bottom: -5px;
    transition: 1s;
}

li a:hover::after {
    width: 100%;
}

.menu-item {
    display: none;
}

.menu {
    width: 30px;
    height: 4px;
    margin: 5px;
    background-color: darkslategrey;
    border-radius: 10px;
}

.cancel-item {
    display: none;
}

.cancel {
    width: 30px;
    height: 4px;
    background-color: darkslategray;
    border-radius: 5px;
}

#line1 {
    transform: rotate(45deg) translateY(3px);
}

#line2 {
    transform: rotate(-45deg) translateY(-3px);
}


#modernhome img {
    border-radius: 2% 2%;

}

.content {
    display: block;
    width: 100%;
    top: 35%;
    position: absolute;
    transform: translateY(0%);
    text-align: center;
}

.content h2 {
    text-transform: uppercase;
    font-weight: 600;
}


.content p {
    padding-top: 20px;
}

button {
    width: 150px;
    text-transform: capitalize;
    padding: 5px 0;
    margin: 20px 10px;
    text-align: center;
    border: 2px solid darkslategray;
    border-radius: 25px;
    background: transparent;
    position: relative;
    cursor: pointer;

}

span {
    width: 0;
    height: 100%;
    position: absolute;
    border-radius: 25px;
    background-color: darkslategray;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 1s;
}

button:hover span {
    width: 100%;
}

.pop-item {
    background-color: darkslategray;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 80%;
    display: none;
}

.living-house {
    text-align: center;
    padding: 10px;
    text-transform: capitalize;
}

.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
}

.card-item {
    width: 250px;
    margin: 20px;
    border: initial;
}

.card-item img {
    width: 250px;
    height: 200px;
    border-radius: 5%;
}

.card-item h3 {
    padding-top: 5px;
    font-weight: 500;
    opacity: 80%;
}

.card-para {
    font-family: "Poppins";
    font-size: 15px;
    color: gray;
}

#living-house-btn,
#kitchen-btn,
#room-btn {
    background-color: rgb(33, 37, 37);
    color: white;
    border: none;
    font-size: 15px;
    border-radius: 0;
    padding: 10px 0px;
    margin: 0;
}

#living-house-content,
#new-kitchen-content,
#living-room-content {
    width: 96%;
    display: none;
    background-color: #dfd1a793;
    margin: 0 20px;
}

.first-title {
    display: flex;
    align-items: center;
    width: 62%;
    justify-content: space-around;
    margin: 10px;
}

.about {
    color: rgb(83, 83, 83);
}

.living-img {
    width: 300px;
    height: 300px;
    border-radius: 0px;
    margin: 0 25px;
}
.living-img img{
    width: 100%;
    height: 100%;
}

.living-house-heading {
    text-align: center;
    text-transform: uppercase;
    position: relative;
    margin: 30px 20px;
}


.livingdesign {
    display: flex;
    justify-content: center;
}

.living-para {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 370px;
    font-size: 18px;
    line-height: 26px;
    margin: 20px;
}

.living-para h4 {
    font-size: 19px;
}

.modern-title {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 15px 0px;
    text-transform: capitalize;
}

.modernhome-changes {
    width: 90%;
    height: 80%;
}

#modernhome {
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.decoration {
    text-align: center;
}

#services h2 {
    text-transform: capitalize;
    text-align: center;
}

.services-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.service-item {
    flex-basis: 40%;
    margin: 20px;
}

.service-item p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px;
    width: 500px;
    color: darkslategrey;
    margin-bottom: 0;
}

.service-item h4 {
    font-weight: 500;
    font-size: 15px;
    margin: 0;
}

.service-item img {
    transform: rotate(320deg);
    padding-right: 10px;
    width: 17px;
    height: 17px;
    color: black;
}

.scrollingcontent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.scrollingimage {
    width: 90%;
    margin: 0px 55px;
    position: relative;
    max-width: 1536px;
    margin-top: 2rem;
    margin-bottom: 4rem;
    height: 150px;
    overflow: hidden;
    mask-image: linear-gradient(to right,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 1) 20%,
            rgba(0, 0, 0, 1) 80%,
            rgba(0, 0, 0, 0, ));
}

.columnimage {
    position: absolute;
    left: max(calc(200px * 8), 100%);
    animation-name: slide;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


@keyframes slide {
    to {
        left: -200px;
    }
}

.image1 {
    animation-delay: calc(30s / 8 * (8 - 1) * -1);
}

.image2 {
    animation-delay: calc(30s / 8 * (8 - 2) * -1);
}

.image3 {
    animation-delay: calc(30s / 8 * (8 - 3) * -1);
}

.image4 {
    animation-delay: calc(30s / 8 * (8 - 4) * -1);
}

.image5 {
    animation-delay: calc(30s / 8 * (8 - 5) * -1);
}

.image6 {
    animation-delay: calc(30s / 8 * (8 - 6) * -1);
}

.image7 {
    animation-delay: calc(30s / 8 * (8 - 7) * -1);
}

.image8 {
    animation-delay: calc(30s / 8 * (8 - 8) * -1);
}


footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #c0bfb1;
    color: #433f35;
    flex-basis: 30%;
    padding: 35px 0;

}

.title-related p {
    width: 400px;
}

.navigation {
    margin: 0 25px;
}

.navigation .navbar {
    font-size: 11px;
    padding: 15px 0;
}

.navigation .navigator {
    display: block;
    text-align: start;
    font-size: 14px;
    padding:5px ;
}

.navigator,
.navbar {
    margin: 0;
}

.offer {
    display: block;
}
.navigation a{
    margin:0;
}
.contact-links img {
    width: 30px;
    height: 30px;
    margin: 0 5px;
}

.insta {
    width: 25px !important;
    height: 25px !important;
}

#email {
    padding: 5px;
    outline: none;
    margin: 0;
}


#booking {
    text-align: center;
    background-color: black;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 0;
}

@media all and (min-width:1024px) {
    .content {
        transform: translateY(-20%);
    }


}

/* @media screen and (min-width:4000px){
    .content{
        transform: translateY(-120%);
    }
    .footerimage{
        padding-top: 3%;
    }
} */
@media all and (max-width:1024px) {
    .content {
        transform: translateY(-20%);
    }

    .scrollingimage {
        margin: 35px;
    }

}

@media all and (max-width:900px) {
    a {
        margin: 10px 20px;
    }

    .content {
        transform: translateY(-20%);
    }

    .scrollingimage {
        margin: 30px;
    }
}

@media all and (max-width:770px) {
    .menu-item {
        display: block;
    }

    ul {
        padding-top: 40%;
    }

    li {
        display: none;
        margin: 25px;
    }

    nav a {
        padding: 0px 15px;
    }

    .content {
        transform: translateY(-20%);
    }

    .first-title {
        width: 80%;
    }

    .livingdesign {
        flex-direction: column;
        align-items: center;
    }

    .title-related p {
        width: 300px;
    }

    .scrollingimage {
        margin-inline: 10px;
        margin: 25px;
    }

}

@media all and (max-width:650px) {
    h2 {
        font-size: 19px;
    }

    ul {
        padding-top: 50%;
    }

    #titletext {
        font-size: 25px;
    }

    .living-para {
        width: 250px;
        line-height: 18px;
    }

    a {
        font-size: 17px;
        margin: 20px;
    }

    ul {
        padding-left: 0;
    }

    .scrollingimage {
        margin: 20px;
    }

    .service-item p {
        width: 250px;
    }

    .title-related p {
        width: 250px;
    }
}

@media all and (max-width:430px) {
    #titletext {
        font-size: 17px;
    }

    ul {
        padding-top: 70%;
    }

    a {
        font-size: 15px;
        margin: 10px;
    }

    .menu {
        width: 25px;
    }

    .cancel {
        width: 25px;
    }

    footer {
        flex-direction: column;
        align-items: center;
    }

    .title-related {
        flex-direction: column;
    }

    .navigation,
    .offer {
        flex-direction: row;
    }

    #living-house-content,
    #new-kitchen-content,
    #living-room-content {
        width: 90%;
    }
    .living-img img{
    width: 80%;
    height: 95%;
    padding: 0 30px;
    margin: 0;
}
}

@media all and (max-width:360px) {
    .content {
        transform: translateY(-25%);

    }

    .content h2 {
        font-size: 15px;
    }

    .content p {
        font-size: 10px;
    }

    .scrollingimage {
        border: 10px solid white;
    }
}